@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(6, 67, 199, 0.55);
}

.container {
  max-width: 1919px;
  min-height: 938px;
  margin: 0 auto;
  background: url(../img/background.jpg);
  position: relative;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #0f2f60;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: white;
}

.header__body {
  position: relative;
}

.header__burger {
  display: none;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 18px;
}

.header__menu {
  border-bottom: 1px solid #828282;
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 6;
}

.header__list li {
  margin-left: 20px;
  padding: 33px 0;
}

.header__list li:first-child {
  margin-left: 0;
}

.header__link {
  color: #828282;
  font-weight: bold;
}

.content {
  padding-top: 80px;
}

.content__text {
  font-size: 16px;
  line-height: 35px;
  text-align: justify;
}

.link {
  color: #070707;
}

.page {
  position: relative;
}

.popup {
  max-width: 1919px;
  height: 938px;
  background: rgba(0, 0, 0, 0.5);
  right: 0px;
  left: 0px;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
  margin-top: 30px;
  padding: 277px 530px 247px 530px;
}

.popup__content {
  position: relative;
  max-width: 803px;
  min-height: 415px;
  background: #ffffff;
  border-radius: 8px;
  z-index: 10;
}

.popup__close {
  position: absolute;
  background: #00b49d;
  width: 29px;
  height: 29px;
  right: -14px;
  top: -14px;
  z-index: 10;
  border-radius: 100%;
}

.popup__close img {
  padding: 10px;
}

.popup__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__column:first-child {
  padding: 47px 43px 0px 49px;
}

.popup__column:last-child {
  padding-left: 15px;
}

.popup__title-h1 {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #00b49d;
}

.popup__title-h2 {
  font-weight: 800;
  font-size: 42px;
  line-height: 34px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.popup__start-biuld {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #0f2f60;
  padding: 4px 4px 4px 13px;
  border: 2px solid #0f2f60;
  border-radius: 20px;
  margin-bottom: 29px;
}

.popup__start-date {
  color: #00b49d;
}

.popup__list {
  padding-left: 15px;
  margin-bottom: 29px;
}

.popup__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  position: relative;
}

.popup__list-item + .popup__list-item {
  margin-top: 12px;
}

.popup__list-item::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 12px;
  top: calc(50% - 6px);
  left: -64px;
  background: url(../img/stick.svg) no-repeat;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 144px;
  height: 33px;
  background: -o-linear-gradient(359.9deg, #00b49d 0.01%, #00b0bd 52.89%, #0066b3 99.85%);
  background: linear-gradient(90.1deg, #00b49d 0.01%, #00b0bd 52.89%, #0066b3 99.85%);
  border-radius: 18.5px;
  margin-bottom: 45px;
}

.popup__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 16px;
}

.popup__aclass {
  position: relative;
}

.popup__aclass::before {
  position: absolute;
  content: "";
  background-image: url(../img/Abg.svg);
  width: 68px;
  height: 36px;
  top: -315px;
  left: -15px;
}

.popup__aclass-img {
  position: absolute;
  top: -308px;
  left: 2px;
  width: 28px;
  height: 25px;
}

@media (max-width: 1900px) {
  .popup__body {
    padding: 78px 530px 78px 530px;
  }

  .popup__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .popup__column:first-child {
    padding: 47px 43px 0px 45px;
  }

  .popup__column:last-child {
    padding-left: 55px;
  }

  .popup__list {
    padding-left: 18px;
  }
}

@media (max-width: 1054px) {
  .popup__body {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: fixed;
    width: 60px;
    height: 40px;
    top: 25px;
    right: 15px;
    z-index: 5;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 4px;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-right: 10px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 4px;
    top: 19px;
    -webkit-transition: all 0.5s ease-in-out 0.3s;
    -o-transition: all 0.5s ease-in-out 0.3s;
    transition: all 0.5s ease-in-out 0.3s;
    padding-right: 10px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 100px 0px 0px 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: auto;
  }

  .header__body {
    background-color: #fff;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: justify;
  }

  .header__list li {
    margin-bottom: 50px;
    padding: 20px 0px 0px 0px;
  }

  .header__list li:first-child {
    margin-left: 20px;
  }

  .header__list li a {
    font-size: 34px;
  }

  .content {
    padding: 30px 0px 0px 0px;
  }
}

.webp .container{ background: url(../img/background.webp); }